.jumbotron{
	background-color:#0d1a1a50;
}

.row{
	background-color: rgba(124, 56, 56, 0.418));

}

.contanier{
	background-color: blue;

}

.conteiner-title-n{
	padding: 5%;
}
.btn {
	background-color:#44c767;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	
}
.page-footer{
	padding: 7%;
}

footer{

	background-color: rgba(65, 105, 225, 0.11);
}
